@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
@section Styles
{}

<div id="shell">
    <ul id="output" class="output-list" data-bind="foreach: commandResults">
        <li>
            <div data-bind="text: $data">
            </div>
        </li>
    </ul>
    <div class="command-line">
        <label>\></label>
        <div>
            <input type="text" id="commandLineValue" data-bind="value: commandLineValue, hasFocus: commandLineHasFocus, event: {keypress: onKeyPress, change: onCommandChange}" />
        </div>
    </div>
</div>
