@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
@section Styles
{
    
}
<div id="shell">
    <input type="text" id="commandLine" class="command-line" data-bind="value: commandLine, event: {keypress: onkeypress}" />
</div>
