body {
    background-color: #323232;
}

.command-line {
    width: 100%;
}
.for-command label{
    margin-right: 5px;
    color: #A63C58;
}

.for-command span {
    color: #FFFFFF;
}

.command-line label {
    float: left;
    margin-right: 5px;
    color: #A63C58;
}

.command-line div {
    overflow: hidden;
}

.command-line input {
    width: 100%;
    display: block;
    outline: none;
    border: none;
    background-color: transparent;
    color: #F2F2F2;
}

.output-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.output-list li > div.error {
    color: #E4B4BF;
}

.output-list li > div.info {
    color: #9FBF5A;
}

.output-list li > div.warning {
    color: #f2f0a1;
}

.output-list li > div > table > thead > tr> th {
    border-bottom: dashed 1px;
}