<!DOCTYPE html>

<html>
<head>
    <title>Brace shell</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.min.css">
    @RenderSection("Styles")
</head>
<body>
<div>
    @RenderBody()
</div>
    <script type="text/javascript" src="~/js/site.min.js"></script>
</body>
</html>